.ipynb_checkpoints
.idea


lab5/output/
lab5/qa_output/
lab5/poquad-dev.json
lab5/poquad-dev.json.1
lab5/poquad-train.json
lab5/poquad-train.json.1
lab5/question-context-answering/
lab5/question-context-classification/
